<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <p class="navbar-text">Raven</p>
  	<a class="navbar-brand" href="home">Home</a>
  	<a class="navbar-brand" href="about">About</a>
  </div>
</nav>